// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.page-content {
  width: calc(100% - 240px);
  height: calc(100% - 40px);
  // background: url(http://res.cloudinary.com/unique/image/upload/c_scale,q_61,w_1837/v1479224412/photo-1439923274069-a6f070db0c99_v0luzo.jpg);
  background: red;
  padding: 20px;
}
header {
  background: #eee;
  padding: 15px 20px;

  h1 {
    margin: 0;
    padding: 0;
    font-size: 25px;
  }

  h3 {
    margin:0;
    padding:0;
    font-size: 18px;
    opacity: 0.7;
  }
}
