/*
*
*  NAVIGATION SCSS
*  For the whole sidebar where the channels and buttons are stored.
*
*/

.list-content {
  width: 200px;
  background: rgb(84, 103, 203);
  color: white;
  height: 100%;
  padding: 20px;
}
