/*
*
*  NAVIGATION SCSS
*  For the whole sidebar where the channels and buttons are stored.
*
*/

.list-content {
  width: 200px;
  background: rgb(84, 103, 203);
  color: white;
  height: 100%;
}

.application-name {
  width: calc(100% - 40px);
  padding: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background: rgb(65, 82, 172);
}

.profile-tab {
  width: 160px;
  padding: 20px;
  font-size: 13px;
  position: absolute;
  bottom: 0;

  h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 11px;
  }

}

.channel-tab {
  width: calc(100% - 40px);
  padding: 20px;

  h3 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    font-size: 11px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 0;
      margin: 0;
      color: rgba(255,255,255,.5);
      text-transform: lowercase;
      font-weight: bold;
      font-size: 13px;
      padding: 1px 0;
      padding-left: 10px;

      a {
        text-decoration: inherit;
        color: rgba(255,255,255,.5);
      }
    }
  }

}


.btn-tab {
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  background: rgba(0,0,0,.3);
  border-radius: 5px;
  margin-top: 7px;
  display: inline-block;
  width: calc(100%);
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  box-shadow: 0 3px 0 0 rgba(0,0,0,0.5);

  &:active {
    position: relative;
    top: 2px;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.5);
  }

  &:hover {
    background: rgba(0,0,0,0.4)
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }
}

.profile-info-container {
  display: flex;
  margin-top: 10px;

  .profile-avatar img {
    border-radius: 5px;
    border: 2px solid white;
  }

  .profile-name {
    margin-top: 3px;
    text-transform: capitalize;
    margin-left: 10px;

    .profile-email {
      text-transform: lowercase;
      font-size: 10px;
    }
  }
}

.themename {
  font-size: 11px;
  background: rgba(0,0,0,.4);
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  margin-top: 10px;
  border-radius: 5px;

  a {
    color: white;
    float:right;
    text-align: right;
    text-decoration: none;
  }
}
